.titreh1_app{
    color:rgb(233, 167, 123);
    text-align: center;
    margin-top: 3vw;
}


.divlogin {
    background-color: rgb(227, 235, 252);
    margin: auto;
    margin-top: 10vw;

}


.titreh2_login {
    text-align: center;
    padding-top: 1.5vw;
}
.formgroup{
    margin-bottom: 1vw;
}

.form_divform {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    margin-left: 6vw;
    margin-right: 6vw;
}


.header{
   border-bottom: 3px solid rgb(255, 185, 106);
}

.div_aside{
    background-color: burlywood;
}
.div_card_publication{
    border:2px solid rgb(243, 219, 180);
    border-radius: 0.6vw;
    margin-top: 2vw;
    margin-bottom: 1.3vw;
}
.div_form_createPublication{
    background-color: rgb(251, 232, 235);
    border-radius: 0.7vw;
}
.div_menu{
    background-color: rgb(69, 89, 90);
}
.btn_form_publication{
    background-color: pink;
    border: none;
    border-radius: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.input_createPublication_img{
    width: 0;
    height: 0;
}
.img_publication{
    border-radius: 0.25vw;
    box-shadow: 0px 0px 50px 1px rgb(236, 236, 236);
}
.bold{
    font-weight: bold;
}
.text_overflow{
    text-overflow: ellipsis;
    word-wrap: break-word;
}