.titreh1_app{
    color:rgb(233, 167, 123);
    text-align: center;
    margin-top: 3vw;
}


.divlogin {
    background-color: rgb(227, 235, 252);
    margin: auto;
    margin-top: 10vw;

}


.titreh2_login {
    text-align: center;
    padding-top: 1.5vw;
}
.formgroup{
    margin-bottom: 0.5vw;
}

.form_divform {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    margin-left: 6vw;
    margin-right: 6vw;
}


.header{
   border-bottom: 3px solid rgb(255, 185, 106);
   
}
.ul{
    list-style-type: none;
    
}
.a_header{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.a_header_deconnexion{
    text-decoration: none;
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.div_aside{
    background-color: burlywood;
}
.div_card_publication{
    border:2px solid rgb(243, 219, 180);
    border-radius: 0.6vw;
    margin-top: 2vw;
    margin-bottom: 1.3vw;
}
.photo_profile_card{
    height: 4.4rem;
    border: 2px solid blue;

}
.div_form_createPublication{
    background-color: rgb(251, 232, 235);
    border-radius: 0.7vw;
}

.btn_form_publication{
    background-color: pink;
    border: none;
    border-radius: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.input_createPublication_img{
    width: 0;
    height: 0;
}
.img_publication{
    border-radius: 0.25vw;
    box-shadow: 0px 0px 50px 1px rgb(236, 236, 236);
}
.bold{
    font-weight: bold;
}
.text_card_name{
    font-size: 0.9rem;
}
.text_overflow{
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.ul_compte{
    font-size: 1.2rem;
}
.message_catch{
    color: red;
    font-weight:bold;
}
.message_then{
    color: green;
    font-weight:bold;
}